<div class="ion-page">
  <app-header-menu></app-header-menu>
  <ion-content>
    <ion-item>
      <ion-title class="title">Profile</ion-title>
    </ion-item>
    <div>
      <ion-button (click)="populateCommands()"
        ><ion-icon name="refresh-outline"></ion-icon
      ></ion-button>
      <ion-button (click)="home()">
        <ion-icon name="home-outline"></ion-icon
      ></ion-button>
    </div>

    <ion-card>
      <ion-card-header> </ion-card-header>
      <ion-card-content>
        <ng-template #image>
          <img [src]="imageProfile" />
        </ng-template>

        <ng-template #altimage>
          <img src="/assets/img/no-image.png" />
        </ng-template>

        <ion-label style="font-size: x-large; font-weight: bolder"
          >Bonjour</ion-label
        ><ion-label style="font-size: medium; font-weight: bolder">
          {{token?.firstname}} {{token?.lastname}}</ion-label
        >
        <ng-container
          *ngIf="imageProfile && imageProfile.length > 0;then image;else altimage"
        ></ng-container>
        <ion-label
          style="
            font-weight: bold;
            font-size: small;
            text-decoration: underline;
          "
          >Vos coordonnées</ion-label
        >
        <ion-list>
          <ion-item>
            <ion-label>{{token?.email}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>{{token?.phone}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>
