ion-item{
    --background: #313B4E;
    --color: #fff;
}

ion-button{
    --background: white;
    --color: black;
    margin-top: 6%;
     
}
.yo {
    height: 40px;
    width: 40px;
}

img{
    margin-left: 72px;
    max-width: 120px;
    margin-top: 11%;
}

ion-content{
    --background: #313B4E;
}

ion-input{
    --color: #fff;
}

.pto{

    color: white;
    text-decoration: none;
}
