<div class="ion-page">
  <app-header-menu></app-header-menu>
  <ion-content>
    <form (ngSubmit)="onSubmit()" novalidate>
      <ion-searchbar
        (ionInput)="store($event)"
        placeholder="Ce que vous recherchez..."
        showCancelButton="focus"
        animated
       
      ></ion-searchbar>
    </form>
  
    <ion-card-content>
      <div *ngIf="noResult">  <ion-label style="text-align: center" class="ion-text-justify">
        Votre recherche n'a rien donner :/</ion-label
      ></div>
      <div
        *ngFor="let product of products;let i = index; let even= even;let odd = odd,let last = last ;let first = first"
      >
        <div *ngIf="even" style="display: flex">
          <ion-card
            *ngIf="products[i]"
            [ngClass]="last ? 'customCard final': 'customCard '"
          >
            <ion-label class="ion-text-capitalize"
              >{{products[i].name}}</ion-label
            >

            <ion-card-content>
              <ng-template #image>
                <img
                  [routerLink]="['/products/product']"
                  [queryParams]="{id:products[i]._id}"
                  [src]="products[i]?.image"
                />
              </ng-template>

              <ng-template #altimage>
                <img
                  [routerLink]="['/products/product']"
                  [queryParams]="{id:products[i]._id}"
                  src="/assets/img/no-image.png"
                />
              </ng-template>

              <ng-container
                *ngIf="products[i].image;then image;else altimage"
              ></ng-container>
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="products[i+1] " class="customCard">
            <ion-label class="ion-text-capitalize"
              >{{products[i+1].name}}</ion-label
            >

            <ion-card-content>
              <ng-template #image>
                <img
                  [routerLink]="['/products/product']"
                  [queryParams]="{id:products[i+1]._id}"
                  [src]="products[i+1]?.image"
                />
              </ng-template>

              <ng-template #altimage>
                <img
                  [routerLink]="['/products/product']"
                  [queryParams]="{id:products[i+1]._id}"
                  src="/assets/img/no-image.png"
                />
              </ng-template>

              <ng-container
                *ngIf="products[i+1].image;then image;else altimage"
              ></ng-container> </ion-card-content
          ></ion-card>
        </div>
      </div>
    </ion-card-content>
  </ion-content>
</div>
