.logo {
  height: 40%;
}

.carpet {
  position: fixed;
  z-index: -100;
  width: 200%;
  height: 100%;
  background: #313b4e;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  left: -50%;
  top: -10%;
}

ion-tab-bar {
  overflow: auto;
}

.form {
  p {
    color: white;
  }

  ion-item {
    --background: transparent;
    color: white;
  }
  .btn-login {
    --background: white !important;
    --background-hover: white;
    --background-activated: white;
    --background-focused: white;
    --color: black;
    display: grid;
    border-radius: 25%;
  }

  .errorEmail {
    border-bottom: red;
    --border-color: red;
    --highlight-background: red;
  }

  .goodEmail {
    border-bottom: green;
    --border-color: green;
    --highlight-background: green;
  }

  .forgot {
    margin-top: 0;
    text-align: center;
    color: white;
  }
}

a {
  text-align: center;
}
