

.carpet-reg{
    width: 800px;
    height: 800px;
    background: #313B4E;
    -webkit-border-radius: 50%;
    -moz-border-radius:     50%;
    border-radius:         50%; 
    left: -100%;
    top:-10%
}

.footer{
    height: 150px;
}

.logo{


  
    ion-col {
        text-align: center;
        
        .picker{
            margin-left:1%;
            padding: 0px 50px 50px 50px;
        }

        input{
            padding: 15% 18%;
            border-radius: 50%;
        }

        ion-icon{
            position: absolute;
            margin-top: 32%;
            font-size: xx-large;
            margin-left: -23.5%;
            color: white;
            background-color:orange ;
            border-radius: 100%;
        }
    }
}