#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-tabs {
  overflow: auto;
}

.customCard {
  width: 50%;
  padding: 1%;
  margin: 2%;
}

.final {
  width: 45%;
}

ion-card {
  --background: #313b4e !important;
  --color: white;

  img {
    border-radius: 5px;
    border: thin solid transparent;
  }
}

ion-button {
  --background: #313b4e;
  ion-icon {
    font-size: medium;
  }
}

ion-button:hover{
  --background:#3880ff;
}

