<div class="ion-page">
  <app-header-menu></app-header-menu>
  <ion-content>
    <ion-item>
      <ion-title>Panier</ion-title>
    </ion-item>
    <div>
      <ion-button (click)="populateCart()"
        ><ion-icon name="refresh-outline"></ion-icon
      ></ion-button>
      <ion-button (click)="home()">
        <ion-icon name="home-outline"></ion-icon
      ></ion-button>
    </div>

    <div *ngIf="products.length < 1">
      <ion-title style="text-align: center"> Votre panier est vide </ion-title>
    </div>
    <div
      *ngFor="let product of products;let i = index; let even= even;let odd = odd,let last = last ;let first = first"
    >
      <div style="display: flex">
        <ion-card
          *ngIf="products[i]"
          [ngClass]="last ? 'customCard final': 'customCard '"
        >
          <ion-label style="font-weight: bold;font-size: x-large;" class="ion-text-capitalize"
            >{{products[i].name}}</ion-label
          >
          <ion-card-content>
            <ng-template #image>
              <img
                [routerLink]="['/products/product']"
                [queryParams]="{id:products[i]._id}"
                [src]="products[i]?.image"
              />
            </ng-template>

            <ng-template #altimage>
              <img
                [routerLink]="['/products/product']"
                [queryParams]="{id:products[i]._id}"
                src="/assets/img/no-image.png"
              />
            </ng-template>

            <ng-container *ngIf="products[i].image;then image;else altimage">
            </ng-container>
            <div *ngIf="products.length > 0">
              <ion-label
                style="font-weight: bold; font-size: 150%"
                class="ion-text-capitalize"
                >Quantité: {{products[i].quantity}}</ion-label
              >
              <ion-label
                style="font-weight: bold; font-size: 150%"
                class="ion-text-capitalize ion-float-end"
              >
                 {{products[i].value * products[i].quantity }} €</ion-label
              >
              <ion-button style="display: block;" (click)="suppress(products[i]._id)">
                <ion-icon name="trash-outline"></ion-icon
              ></ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div>
      <ion-label
        *ngIf="products.length > 0"
        class="ion-text-uppercase"
        style="font-weight: bolder; font-size: x-large"
        >Total : <ion-label>{{doSum()}} €</ion-label></ion-label
      >
    </div>

    <ion-button *ngIf="products.length > 0" (click)="validate()"
      >Passer commande</ion-button
    >
    <ion-button *ngIf="products.length > 0" (click)="dumpCart()"
      >Vider le panier</ion-button
    >
  </ion-content>
</div>
