<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="menu">
        <ion-icon name="menu-outline" color="white"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
          </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      <ion-button class="filter">
        <ion-icon name="funnel-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search ion-padding">
    <ion-item lines="none">
      <ion-input placeholder="Search Your Product"></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>
  <div class="title ion-padding">
    <h2>Categories</h2>
    <p>See all</p>
  </div>

<!-- <div class="category-slider" -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-button class="menu">
        <ion-icon name="menu-outline" color="white"></ion-icon>
        <span>&nbsp;</span>
      </ion-button> -->
      <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="cart-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      <ion-button class="filter">
        <ion-icon name="funnel-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search ion-padding">
    <ion-searchbar></ion-searchbar>
  </div>
<div>
  <img src="https://cdn.pixabay.com/photo/2021/01/21/09/11/mountains-5936682_960_720.jpg">

</div>
</ion-content>